# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Output
output/
*.html
# Keep the Jinja2 HTML template
!templates/*.html

# IDE
.idea/
.vscode/
*.swp
*.swo
